/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap&subset=cyrillic');


body {
    font-family: 'Ubuntu Mono', monospace;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}